.header {
    padding: 20x 10px;
    background-color: #1F2937;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}

h1, h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}

.awesome{

}

main{

background-color: #1F2937;

}

ul {
    list-style-type: none

}

#buttons {
    position:absolute;
    top: 35px;
    right:30px;
    word-spacing: 40px;
    color: #f9faf8
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

