.header {
    padding: 20x 10px;
    background-color: #1F2937;
    color: white;
    font-family:"SF-Pro-Display-Bold";
    font-weight: 8px;
    font-size: 48px;

    
}

body {
    padding:0;
    margin:0;
}



h1, h2, h3{
    font-family: 'SF-Pro';
    font-weight: bold;
    color: white;
    padding:0;
    margin:0;
}
@font-face {
    font-family: "SF-Pro-Display-Bold";
    src: url("SF-Pro-Display-Bold.otf")
}

@font-face {
    font-family: "SF-Pro";
    src: url('SF-Pro.ttf')
}
#blue {
    background-color: #1F2937;
    background-size: cover;
    
}


main{
    background-color: #1F2937;
    bottom: 10px;
    display: flex;
    

}

ul {
    list-style-type: none

}

#buttons {
    position:absolute;
    top: 35px;
    right:30px;
    word-spacing: 40px;
    color: #f9faf8;
    font-family:"SF-Pro-Display-Bold";

    
}

.flex1 {

    margin: 10px;
    padding: 20px;
    font-size: 30px;

}


 
.awesome {
    font-family:"SF-Pro-Display-Bold";
    display: flex;
    flex-wrap: nowrap;

    
}

a:link { text-decoration: none; color: white; }
a:visited { text-decoration: none; color: white;}
a:hover { text-decoration: none; color: white; }
a:active { text-decoration: none; color: white;}


