.header {
    padding: 20x 10px;
    background-color: #1F2937;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}

h1, h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
}

.awesome{

}

main{

background-color: #1F2937;

}